body {
    margin: 0;
    background-image: url('K_Background.png');
    background-size: auto;      /* or "contain" */
    background-position: center; /* center the image */
    background-repeat: no-repeat;
    color: #fff;
    font-family: sans-serif;
}
canvas {
    display: block;
    margin: auto;
    background: #222;
}
.blue{
    position: absolute;
    left: 5%;
    bottom: 5%;
    animation: bounceDance 1.1s infinite;
    display: inline-block;
    max-width: 25vw;
    height: auto;
}
.red{
    position: absolute;
    right: 5%;
    bottom: 5%;
    animation: bounceDance 0.9s infinite;
    display: inline-block;
    max-width: 25vw;
    height: auto;
}

@keyframes bounceDance {
    0%, 100% {
        transform: translate(0, 0) rotate(0deg) scale(1);
    }
    20% {
        transform: translate(-5px, -15px) rotate(-5deg) scale(1.05);
    }
    40% {
        transform: translate(5px, -10px) rotate(5deg) scale(0.95);
    }
    60% {
        transform: translate(-3px, -5px) rotate(-3deg) scale(1.02);
    }
    80% {
        transform: translate(3px, -8px) rotate(3deg) scale(0.98);
    }
}
.score-container {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 30vw;
    height: 25vh;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50px;
    font-family: 'Rocher';
    text-align: center;
    font-size: 50px;
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
}
.score-container img {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}
#score {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 60px;
    font-palette: --Mint;
}
.score-title{
    margin: 0;
    font-size: 70px;
}

@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}
.statsColumn{
    display: none;
}
#actionPanel {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#startButton {
    --stone-50: #fafaf9;
    --stone-800: #292524;
    --yellow-400: #facc15;

    font-size: 1rem;
    cursor: pointer;
    position: relative;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    line-height: 1;
    padding: 1px;
    transform: translate(-4px, -4px);
    outline: 2px solid transparent;
    outline-offset: 5px;
    border-radius: 9999px;
    background-color: var(--stone-800);
    color: var(--stone-800);
    transition:
            transform 150ms ease,
            box-shadow 150ms ease;
    text-align: center;
    box-shadow:
            0.5px 0.5px 0 0 var(--stone-800),
            1px 1px 0 0 var(--stone-800),
            1.5px 1.5px 0 0 var(--stone-800),
            2px 2px 0 0 var(--stone-800),
            2.5px 2.5px 0 0 var(--stone-800),
            3px 3px 0 0 var(--stone-800),
            0 0 0 2px var(--stone-50),
            0.5px 0.5px 0 2px var(--stone-50),
            1px 1px 0 2px var(--stone-50),
            1.5px 1.5px 0 2px var(--stone-50),
            2px 2px 0 2px var(--stone-50),
            2.5px 2.5px 0 2px var(--stone-50),
            3px 3px 0 2px var(--stone-50),
            3.5px 3.5px 0 2px var(--stone-50),
            4px 4px 0 2px var(--stone-50);

    &:hover {
        transform: translate(0, 0);
        box-shadow: 0 0 0 2px var(--stone-50);
    }

    &:active,
    &:focus-visible {
        outline-color: var(--yellow-400);
    }

    &:focus-visible {
        outline-style: dashed;
    }

    & > div {
        position: relative;
        pointer-events: none;
        background-color: var(--yellow-400);
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 9999px;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 9999px;
            opacity: 0.5;
            background-image: radial-gradient(
                    rgb(255 255 255 / 80%) 20%,
                    transparent 20%
            ),
            radial-gradient(rgb(255 255 255 / 100%) 20%, transparent 20%);
            background-position:
                    0 0,
                    4px 4px;
            background-size: 8px 8px;
            mix-blend-mode: hard-light;
            animation: dots 0.5s infinite linear;
        }

        & > span {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.75rem 1.25rem;
            gap: 0.25rem;
            filter: drop-shadow(0 -1px 0 rgba(255, 255, 255, 0.25));

            &:active {
                transform: translateY(2px);
            }
        }
    }
}
#stopButton {
    --stone-50: #fafaf9;
    --stone-800: #292524;
    --yellow-400: #dc5441;

    font-size: 1rem;
    cursor: pointer;
    position: relative;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    line-height: 1;
    padding: 1px;
    transform: translate(-4px, -4px);
    outline: 2px solid transparent;
    outline-offset: 5px;
    border-radius: 9999px;
    background-color: var(--stone-800);
    color: var(--stone-800);
    transition:
            transform 150ms ease,
            box-shadow 150ms ease;
    text-align: center;
    box-shadow:
            0.5px 0.5px 0 0 var(--stone-800),
            1px 1px 0 0 var(--stone-800),
            1.5px 1.5px 0 0 var(--stone-800),
            2px 2px 0 0 var(--stone-800),
            2.5px 2.5px 0 0 var(--stone-800),
            3px 3px 0 0 var(--stone-800),
            0 0 0 2px var(--stone-50),
            0.5px 0.5px 0 2px var(--stone-50),
            1px 1px 0 2px var(--stone-50),
            1.5px 1.5px 0 2px var(--stone-50),
            2px 2px 0 2px var(--stone-50),
            2.5px 2.5px 0 2px var(--stone-50),
            3px 3px 0 2px var(--stone-50),
            3.5px 3.5px 0 2px var(--stone-50),
            4px 4px 0 2px var(--stone-50);

    &:hover {
        transform: translate(0, 0);
        box-shadow: 0 0 0 2px var(--stone-50);
    }

    &:active,
    &:focus-visible {
        outline-color: var(--yellow-400);
    }

    &:focus-visible {
        outline-style: dashed;
    }

    & > div {
        position: relative;
        pointer-events: none;
        background-color: var(--yellow-400);
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 9999px;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 9999px;
            opacity: 0.5;
            background-image: radial-gradient(
                    rgb(255 255 255 / 80%) 20%,
                    transparent 20%
            ),
            radial-gradient(rgb(255 255 255 / 100%) 20%, transparent 20%);
            background-position:
                    0 0,
                    4px 4px;
            background-size: 8px 8px;
            mix-blend-mode: hard-light;
            animation: dots 0.5s infinite linear;
        }

        & > span {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.75rem 1.25rem;
            gap: 0.25rem;
            filter: drop-shadow(0 -1px 0 rgba(255, 255, 255, 0.25));

            &:active {
                transform: translateY(2px);
            }
        }
    }
}

@keyframes dots {
    0% {
        background-position:
                0 0,
                4px 4px;
    }
    100% {
        background-position:
                8px 0,
                12px 4px;
    }
}
#gameCanvas{
    border-radius: 0px 0px 50px 50px;
    border-left: 3px solid #facc15;
    border-right: 3px solid #facc15;
    border-bottom: 3px solid #facc15;
}

@font-palette-values --Grays {
    font-family: Rocher;
    base-palette: 9;
}

@font-palette-values --Purples {
    font-family: Rocher;
    base-palette: 6;
}

@font-palette-values --Mint {
    font-family: Rocher;
    base-palette: 7;
}
